.custom-text-field {
    margin-top: -2px !important; 
}

.css-clttge-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
    padding: 0px 4px 0px 5px;
}

.css-clttge-MuiAutocomplete-root .MuiOutlinedInput-root {
    padding: 0px 4px 0px 5px !important;
}

/* Altere o fundo do Lightbox para transparente */
.yarl__backdrop {
    background-color: transparent !important;
  }
  
.css-1qmkl3-MuiFormControl-root-MuiTextField-root {
    margin-top: 2px !important;
}


.css-17vbkzs-MuiFormControl-root-MuiTextField-root{
    margin-top: 2px !important;
}

@media (max-width: 1199.98px) {
    .css-gshwue-MuiContainer-root {
      padding-top: 10px !important;
    }
  }
  
  .css-1kkuafa-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
    padding: 3px 3px 3px 36px !important;
}