.custom-text-field {
    margin-top: -2px !important; 
}

.css-clttge-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
    padding: 0px 4px 0px 5px;
}

.css-clttge-MuiAutocomplete-root .MuiOutlinedInput-root {
    padding: 0px 4px 0px 5px;
}